// 颜色定义规范
$color-theme: #487FFF;
$color-theme-l: #FF6E5D;
$color-theme-l-hover: #FF4B36;
$color-theme-ll: #F4986A;
$color-theme-d: #3E73CD;
$color-theme-nav-d: #4783EA;
$color-background-d: #202A3B;
$color-background-l: #ECEFF3;
$color-menu-l-hover: #F3F7FB;
$color-button-d: #487FFF;
$color-button-d-hover: #3E73CD;
$color-button-l: #66D7DD;
$color-button-l-hover: #36c3ca;
$color-button-l-disabled: #BBF2F5;
$color-border: #E2E2E2;
$color-list-title: #f5f5f5;
$color-table-border: #e4ecfd;
$color-list-content: #fafbfd;
$color-table-bg: #F6F6F6;
$color-table-hover: #f3f6fd;
$color-dialog: #f8fafd;
$color-disabled: #c2dbff;

//字体颜色定义规范
$color-text-d: #333;
$color-text: #666;
$color-text-l: #999;
$color-text-ll: #BABABA;
$color-white: #fff;

//字体大小定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;
$font-size-large-4x: 28px;
