// Import variables first
@use './variables' as *;

// Import other styles
@use './base';
@use './element-rewrite';
@use './cp-tiku-ui';
@use './element-variables';

// Import mixins
@use './temp/mixins';
@use './temp/deep-fix';
@use './temp/element-plus-fix';

// 遮罩层透明度修改
.v-modal {
  opacity: 1;
  background: rgba(0, 0, 0, 0.1);
}

// 个人中心 温馨提示
.wen-tip {
  font-size: $font-size-small;
  color: $color-text-l;
  text-align: center;
  margin-top: 30px;
}

// 表格
.total-box {
  margin: 20px 0 20px 0;
  color: $color-text-l;
  font-size: $font-size-small;
  .text {
    color: $color-text-d;
  }
}
.page-table {
  .el-table {
    &:before {
      height: 0;
    }
    tr {
      border-bottom: 1px solid $color-table-border;
      &.gray-row {
        .cell {
          color: #c0c4cc;
          .status-text {
            color: #c0c4cc;
          }
        }
      }
    }
    td {
      padding: 8px 0;
      &:first-child {
        padding-left: 30px;
      }
      .cell {
        line-height: 24px;
        color: $color-text-d;
        font-size: $font-size-small;
        .dot {
          display: inline-block;
          vertical-align: 2px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          margin-right: 4px;
        }
        .green {
          .dot {
            background: #53e160;
          }
        }
        .red {
          .dot {
            background: #f77f5b;
          }
        }
        .gray {
          color: $color-text-l;
          .dot {
            background: $color-text-l;
          }
        }
        .black {
          .dot {
            background: $color-text-d;
          }
        }
        .operate-btn {
          cursor: pointer;
          color: $color-theme;
          &:hover {
            color: $color-theme-d;
            text-decoration: underline;
          }
        }
        .line {
          padding: 0 20px;
          color: #d5e2fd;
        }
        .tooltip-text {
          display: inline-block;
          width: 90%;
          line-height: 14px;
          cursor: pointer;
        }
      }
    }
    thead {
      line-height: 40px;
      color: $color-text;
      th {
        padding: 0px 0;
        background: #f6f6f6;
        &:first-child {
          padding-left: 30px;
        }
        .cell {
          font-size: $font-size-small;
        }
      }
    }
    tbody {
      tr:nth-child(2n) {
        background: $color-list-content;
      }
      tr:hover {
        background: $color-table-hover;
        box-shadow: 0px 0px 10px 0px rgba(182, 203, 253, 0.3);
      }
    }
    .el-table__empty-text {
      line-height: 0;
    }
  }
}
